@tailwind base;
@tailwind components;
@tailwind utilities;

/* Couleurs personnalisées */
.bg-navy-900 {
  background-color: #0F1E3D;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Assurez-vous que le fond s'étend partout */
#root, .min-h-screen {
  width: 100%;
  overflow-x: hidden;
}

/* Style pour le contenu principal qui couvre toute la largeur */
main.bg-navy-900 {
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  margin-left: 0; /* Supprime l'espacement à gauche en mode mobile */
}

/* Ajustement pour le mode desktop */
@media (min-width: 768px) {
  main.md\:ml-64 {
    margin-left: 16rem; /* 64px en rem */
    border-left: none;
    box-shadow: none;
  }
}
